/* Pretty printing styles. Used with prettify.js. */

@media screen {
  .com { color: #93a1a1; }
  .lit { color: #AE81FF; }
  .pun,
  .opn, 
  .clo { color: #F8F8F2; }
  .fun { color: #dc322f; }
  .str, 
  .atv { color: #E6DB74; }
  .kwd, 
  .tag { color: #F92659; }
  .typ, 
  .atn, 
  .dec, 
  .var { color: #A6E22E; }
  .pln { color: #66D9EF; }
}

/* Put a border around prettyprinted code snippets. */
xmp.prettyprint { border-radius:10px; display: block; background-color:#272822; padding: 0 0 0 0; border: 2px solid #272822; margin: 0 0 0 0 }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { color: #464741; background-color: #39382E; margin: 0 0 0 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 { list-style-type: decimal }